# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.log
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Config
.pypirc
